SECRET_KEY=
ALLOWED_HOSTS=
DEBUG=

THROTTLE_RATE_ANON=
THROTTLE_RATE_USER=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
EMAIL_ADMIN_NOTIFICATION=

ADMIN_EMAIL=
ADMIN_PASSWORD=

TELEGRAM_BOT_TOKEN=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=